@import './_colors.scss';

.social-links {
    margin: 30px -50px;
    text-align: center;
    padding: 0;
    /* white-space: nowrap; */
    display: flex;
    /* flex-basis: 1px; */
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
        display: inline-block;
        /* margin-right: 35px; */
        opacity: 0.3;
        transition: opacity 0.15s ease-out;
        background: transparent;
        border-radius: 50px;
        border: 1px solid;

        // &:last-child {
        //     margin-right: 0px;
        // }

        img {
            height: 32px;
            width: 32px;
            display: flex;
            /* flex-basis: 3px; */
            align-items: center;
            justify-content: space-around;
            margin: 18px;
        }


        &:hover {
            opacity: 0.8;
        }
    }
}

@media screen and (max-width: 768px) {
    .social-links {
        li {
            margin-right: 16px;
        }
    }
}